{% extends "base.html" %}

{% block content %}

<section class="container">

    <div class="row wow fadeIn mt-4">

        {% for item in object_list %}
        <div class="col-lg-3 col-md-6 mb-4">

            <div class="card" style="border-radius: 20px;">

                <div class="view overlay">
                    {% comment %}
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
                        class="card-img-top" {% endcomment %} <img src="{{ item.image.url }}"
                        style="border-radius: 20px;" class="card-img-top">
                    <a href="{{ item.get_absolute_url }}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body text-center">
                    <a href="" class="grey-text">
                        <h5>{{ item.get_category_display }}</h5>
                    </a>
                    <h5>
                        <strong>
                            <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                            </a>
                        </strong>
                    </h5>

                    <h4 class="font-weight-bold blue-text">
                        <strong>$
                            {% if item.discount_price %}
                            {{ item.discount_price }}
                            {% else %}
                            {{ item.price }}
                            {% endif %}
                        </strong>
                    </h4>

                </div>

            </div>

        </div>
        {% endfor %}
        
    </div>
    <div class="text-center">
        <a class="btn btn-dark" href="/home/" style="border-radius: 20px; color: #aedac8;">Shop Now</a>
    </div>

</section>



<div class="container">
    <div class="pl-3" style="background-color: #161616; border-radius: 20px;">
        <h2 class="mb-3 mt-5 pt-3 pr-3" style="color: #aedac8;"><strong>About Us</strong></h2>
        <p class="pb-3 pr-3" style="color: #aedac8;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Reprehenderit, illum ab voluptatem totam est iste, 
            excepturi voluptas veniam hic odit ipsum? Quam rerum hic culpa debitis officiis adipisci, 
            quas excepturi.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reprehenderit, illum ab voluptatem totam est iste,
            excepturi voluptas veniam hic odit ipsum? Quam rerum hic culpa debitis officiis adipisci,
            quas excepturi.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reprehenderit, illum ab voluptatem totam est iste,
            excepturi voluptas veniam hic odit ipsum? Quam rerum hic culpa debitis officiis adipisci,
            quas excepturi.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reprehenderit, illum ab voluptatem totam est iste,
            excepturi voluptas veniam hic odit ipsum? Quam rerum hic culpa debitis officiis adipisci,
            quas excepturi.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reprehenderit, illum ab voluptatem totam est iste,
            excepturi voluptas veniam hic odit ipsum? Quam rerum hic culpa debitis officiis adipisci,
            quas excepturi.
        </p>
    </div>
</div>




{% endblock content %}